.button {
	display: block;
	width: 100%;
	padding-block: 0.625rem;
	border-radius: 3px;
	font-size: 1rem;
	color: var(--jet);
	transition: background-color 150ms ease;

	&:hover {
	}

	&:active {
	}

	&--disabled, &--disabled:hover, &--disabled:active {
		cursor: not-allowed;
	}
}
