.header {
	width: fit-content;
	padding: 1rem;
	background-color: var(--dough);

	&__topbar {
		display: flex;
		gap: 1rem;
	}

	&__icon {
		height: 2.6rem;
	}

	&__navbar {
		display: flex;
		justify-content: center;
		gap: 1rem;
		margin-block: 1.25rem;
	}
}
