.header {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding-bottom: 1rem;
	background-color: var(--dough);

	@media (min-width: 700px) {
		flex-direction: row;
		padding-bottom: 0;
	}

	&__topbar {
		display: flex;
		gap: 1rem;
		width: 100%;

		@media (min-width: 700px) {
			width: 40%;
		}
	}

	&__icon {
		height: 2.6rem;
	}

	&__navbar {
		display: flex;
		justify-content: center;
		gap: 1.5rem;

		@media (min-width: 700px) {
			width: calc(60% - 1rem);
		}
	}
}
