.profile {
    &__a {
        color: #ffd277;
        margin: 0 auto;
        
    }
    &__h1 {
        text-align: center;
        position: relative;
        color: #ffd277;
        margin: auto; 
        padding: 10px 12px;
    }
}
