.text-input {
	height: 2.6rem;
	width: 100%;
	padding-left: 0.5rem;
	background-color: var(--tan);
	border: 0.2rem solid var(--jet);
	border-radius: 3px;
	font-size: 1rem;
	transition: background-color 150ms ease;

	&:hover {
		background-color: var(--tan-dark1);
	}

	&:active {
		background-color: var(--tan-dark2);
	}

	&::placeholder {
		color: var(--jet);
		opacity: 1;
	}

	&:focus {
		outline: none;
		background-color: var(--tan-dark2);

		&::placeholder {
			opacity: 0;
		}
	}
}
