.text-input {
		height: 2.6rem;
		width: 100%;
		padding-left: 0.5rem;
		background-color: var(--dough);
		border: 0.2rem solid var(--jet);
		border-radius: 3px;
		font-size: 1rem;

		&:focus {
			outline: none;
		}
}
