input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 15px;
  }

form {
    padding: 20px 30px;
    background-color:#ffd277;
    border-radius: 20px;
    margin: 0 auto; 
width:700px;
}
h2 a  {
  color: #ffd277;
  text-align:center;
}

h2 a:hover {
  color: #ffd277;
}

button[type=submit] {
  width: 100%;
  background-color: white;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 15px;
}
