:root {
	--crust: #D17D38;
	--crust-dark1: #B6692B;
	--crust-dark2: #955623;

	--tan: #F4D1A4;
	--tan-dark1: #EFBF80;
	--tan-dark2: #EBAD5C;

	--dough: #FFF9EE;
	--dough-dark1: #FFF1D6;
	--dough-dark2: #FFE4AD;

	--jet: #292929;
	--jet-dark1: #141414;
	--jet-dark2: #000000;
}